#terminal {
  background: #282c34;
  width: 100%;
  height: 100%;
  line-height: normal;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

#terminal::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#terminal pre {
  margin: 0 0 0 0;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 12pt;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#terminal input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 12pt;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#terminal a:link {
  color: #8be9fd;
  text-decoration: none;
}

#terminal a:visited {
  color: #8be9fd;
  text-decoration: none;
}
